<head>
    <link rel="stylesheet" href="~/css/Game.css" asp-append-version="true" />
</head>

@{
    int aantalSpelers = 0;
    //gameModel gekozenSpel = (gameModel)ViewData["gekozenSpel"];
    //int gekozenSpelID = (int)ViewData["gekozenSpelID"];
    int userID = 12;
    int gewonnen = 1;
    ViewData["Title"] = "Game";
}
@Html.Partial("Navbar")



<div class="gridder">
    <div class="container">


        <div class="game-wrapper">
            <h2 class="game-name">@Model.name</h2>
            <p>@Model.rules</p>
            <div class="game-players">
                <p class="game-usercount">Aantal spelers: @aantalSpelers/@Model.minimum_players</p>
                <ul class="game-players-ul">
                    @for (int i = 0; i < 8; i++)
                    {
                        <li class="game-players-li">
                            Open
                        </li>
                    }
                </ul>

            <div class="buttons-container">
                    <input type="submit" value="Invite Player" class="btn modal-toggle" onclick="ToggleInviteModal(this)"  />
                <input type="submit" value="Leave Game" class="btn"  />
            </div>
            </div>
        </div>


        @*<h1 class="title">Game</h1>
        <div class="game-info">
            <p class="game-name">@Model.Name</p>
            <p class="game-rules">@Model.Rules</p>
            <p class="player-count">Aantal spelers: <span id="player-count">@aantalSpelers</span>/<span id="minimum-players">@Model.Minimum_Players</span></p>
        </div>

        <form class="player-count-form">
            <label for="number" class="player-count-label">Aantal spelers:</label>
            <div class="value-buttons">
                <div class="value-button decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                <input type="number" id="number" value="2" min="2" class="player-count-input" />
                <div class="value-button increase" onclick="increaseValue()" value="Increase Value">+</div>
            </div>
        </form>

        <div class="mode-selection">
            <label for="mode" class="mode-label">Kies een modus:</label>
            <select onchange="mode()" name="mode" id="mode" class="mode-select">
                <option value="head">Head to Head</option>
                <option value="team">Teams</option>
            </select>
        </div>

        <div id="aantalTeams"></div>

        <div class="buttons-container">
            <input type="submit" value="Choose" class="btn choose-btn" onclick="sendData(@Model.ID,@userID)" />
            <input type="submit" value="Leave Game" class="btn leave-btn" onclick="location.href='@Url.Action("Index")'" />
        </div>*@
    </div>
</div>



<div class="modal hidden">
    <div class="modal-content">
        <span class="close" onclick="ToggleInviteModal(this)">&times;</span>
        <h2 style="color: black">Invite</h2>
        <select class="accountlist" size="13" multiple>
           
        </select>
        <button class="btn" onclick="SendInvite()">Invite Players</button>
    </div>
</div>



@*    <div class="container">
        <h1>Spel</h1>
        <p>@gekozenSpel.naam</p>
        <p>@gekozenSpel.regels</p>
        <p>Aantal spelers: @aantalSpelers/@gekozenSpel.minimumSpelers</p>

        <form>
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
            <input type="number" id="number" value="2" />
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
        </form>

        <div id="test"><input id="te" type="text" name="aantalSpelers"><input id="te" type="text" name="aantalSpelers"></div>
        <br>

        <select onchange="mode()" name="mode" id="mode">
            <option value="head">Head to Head</option>
            <option value="team">Teams</option>
        </select>
        <br>
        <br>

        <div id ="aantalTeams"></div>

        <input type="submit" value="Kies" class="btn" onclick="sendData(@gekozenSpelID,@userID)" />

        <input type="submit" value="Verlaat spel" class="btn" onclick="location.href='@Url.Action("Index")'" />
    </div>*@


@section scripts{
    <script>

        function SendInvite(){
            var selected = $('.accountlist').val();
            console.log(selected);
            $.ajax({
                url: '/Game/SendInvite',
                data: JSON.stringify(selected),
                type: 'POST',
                contentType: 'application/json',
                success: function (res) {
                    console.log(res)
                    const modal = document.querySelector('.modal');
                    modal.classList.toggle('hidden');


                },
                error: function (error) {
                    console.log(error)
                }
            });

        }

        function ToggleInviteModal(activator){
            console.log(activator);
            const modal = document.querySelector('.modal');
            const accountlist = document.querySelector('.accountlist');

            modal.classList.toggle('hidden');
            if(activator.classList.contains("modal-toggle")){
            
                $.ajax({
                    url: '/Game/GetAccounts',
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (res) {
                        accountlist.innerHTML = "";
                        
                        res.map(e => {
                            var opt = document.createElement("option");
                            opt.className = "account";
                            opt.innerHTML = e.email;
                            accountlist.appendChild(opt);
                        })
                        
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });
            }
        }
      
        function mode() {
            var val = document.getElementById("mode").value;
            aantalTeams = document.getElementById("aantalTeams");

            if(val == "team"){
                aantalTeams.innerHTML = `<label>Aantal teams:</label>
                                        <input onchange="teams()" id="aantalTeams" type="number" name="aantalTeams" min="2">
                                        <br>
                                        <br>`
            } else {
                aantalTeams.innerHTML = ""
            }
        }

        function teams(){
            aantalTeams = document.getElementsByName("aantalTeams")[0].value;
        }

        function sendData(gameID, userID){
            var spelers = [];
            for (var i = 0; i < document.getElementsByName("aantalSpelers").length; i++){
                spelers.push(document.getElementsByName("aantalSpelers")[i].value)
            }

            spelers1 = spelers.join(',');

            $.ajax({
                url: '/Main/sendData',
                data: { Game_ID: gameID, User_ID: userID, User_IDs: spelers1},
                type: 'GET',
                success: function (returned_data) {
                    //console.log(returned_data)
                    location.href = "wedstrijd?ID=" + returned_data
                },
                error: function (returned_data) {
                    console.log(returned_data)
                }   
            });
        }

        function increaseValue() {
            var value = parseInt(document.getElementById('number').value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            document.getElementById('number').value = value;

            test.innerHTML += `<input id="te" type="text" name="aantalSpelers">`
        }

        function decreaseValue() {
            var value = parseInt(document.getElementById('number').value, 10);
            value = isNaN(value) ? 0 : value;
            value < 3 ? value = 3 : '';
            value--;
            document.getElementById('number').value = value;

            test.innerHTML = ``

            for(let i = 0; i < value; i++){
                test.innerHTML += `<input id="te" type="text" name="aantalSpelers">`
            }

        }

    </script>
}
