<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/MainDesktop.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
    <script src=" https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>


<div class="container">

    <div class="hamburgerNavigator">
        <aside class="sidebar hidden">
            <ul class="nav flex-column">
                <li class="nav-item">

                    <a class="nav-link active" href="/Main/Index">
                        <i class="fa-solid fa-house" style="color: #1081c5;"></i>                      
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Main/spel?gekozenspel=fortnite">
                        <i class="fa-solid fa-gamepad" style="color: #1081c5;"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-user" style="color: #1081c5;"></i>
                    </a>
                </li>
                <!-- Add more sidebar items as needed -->
            </ul>
        </aside>
    </div>



    <div class="gameSelectorContainer">
        <form class="game-select-button" action="/spel">
            <select class="game-select-button" name="spel" id="spel">
                <option value="fortnite">fortnite</option>
                <option value="tafeltennis">Tafeltennis</option>
@*                <option value="rozenKoekenSpel">Roze koeken spel</option>
*@                <option value="stardew Valley">Stardew Valley</option>
            </select>
        </form>
        <div>
            <a class="game-select-button" onclick="redirectToSelectedPage()">
                <i class="fa-sharp fa-solid fa-door-open fa-2x" style="color: #1081c5;"></i>
            </a>
        </div>
    </div>

    <div class="personalScoreContainer">
        <div class="personal-score">
            <p class="magic">200 BP</p>
        </div>
    </div>

    <div class="leaderboardContainer">
        <div class="leaderboard">
            
            <div class="leaderboard-box">
                <div class="leaderboard-content">
                    <div class="leaderboard-title">
                        <span class="magic">Leaderboard</span>
                    </div>
                </div>
            </div>

            <div class="leaderboard-wrapper" type="none">

                <ul class="leaderboard-list">
                    @foreach (var item in @Model.Leaderboard)
                    {
                    <li>
                   @* <img src="@Url.Content("/Assets/medals/"+(i+1)+".png")" />*@
                            <span class="magic">@item.VolledigeNaam</span>
                    <div id="wins" class="right-align">
                    <span class="magic">@item.GewonnenWedstrijden wins</span>
                    </div>
                    </li>
                    }  
                </ul>
                
            </div>
            <div class="leaderboard-player-score-wrapper">
                <div class="leaderboard-player-score-content">
                    <ul start="@ViewData["SpelerPositie"]" class="leaderboard-player-score">
                        <li class="space">
                            <span class="magic">#@ViewData["SpelerPositie"] </span>
                            <span class="magic">@ViewData["spelerNaam"]</span>
                            <span class="magic">@ViewData["spelerOverwinningen"] wins</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="matchHistoryContainer">
        <div class="MatchHistory">

            <div class="MatchHistory-box">
                <div class="MatchHistory-content">
                    <div class="MatchHistory-title">
                        <span class="magic">Match History</span>
                    </div>
                </div>
            </div>

            <div class="MatchHistory-wrapper" type="none">

                <ul class="MatchHistory-list">
                    <span class="magicSelect">
                        Tafeltennis <br />
                    </span>
                    @foreach (var match in @Model.MatchHistory){
                        if(match.Game_ID == 1){
                        
                        <li>
                            <span class="magic">
                                @match.Player1
                            </span>
                            <span class="magic">

                                @match.Player1_Points - @match.Player2_Points
                            </span>
                            <span class="magic">
                                @match.Player2

                            </span>
                        </li>
                        }
                    }
                </ul>

            </div>
        </div>
    </div>

    <div class="tournamentContainer">
        <div class="tournamentNewsWrapper">
            <div class="tournamentTitle">
                <span class="magic">
                    Tournament - News
                </span> 
                <div class="tournamentAnnouncement">
                    <ul class="MatchHistory-list">
                        <li>
                            <span class="magic">
                                11/04/2023
                            </span>

                            <span class="magic">
                                🏓Tafeltennis Tournament
                            </span>
                        </li>
                        <li>
                            <span class="magic">
                                12/04/2023
                            </span>

                            <span class="magic">
                                🏃‍♂️20m Sprint Tournament
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>



@section scripts{
    <script>

        $('.hamburgerNavigator').on('click', function () {
            $('.sidebar').toggleClass('reveal'); // Toggle reveal class on sidebar
        });


        function loadLeaderBoard(){
          
        }

        function redirectToSelectedPage() {
            var selectedOption = document.getElementById('spel').value;
            var url = '/Main/spel?gekozenspel=' + selectedOption;
            window.location.href = url;
        }

    </script>
}
