@{
    ViewData["Title"] = "Main Page";
    List<int> Account_IDs = (List<int>)(object)ViewData["Account_IDs"];
    List<int> GewonnenWedstrijden = (List<int>)(object)ViewData["GewonnenWedstrijden"];
    List<string> Namen = (List<string>)(object)ViewData["Namen"];
    
}

<head>
    <link rel="stylesheet" href="~/css/MainDesktop.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>


<div class="container">
    <div class="hamburgerNavigator">


    </div>


    <div class="gameSelectorContainer">
            <form class="game-select-button" action="/spel">
                <select class="game-select-button" name="spel" id="spel">
                    <option value="voetbal">Voebal</option>
                    <option value="tafeltennis">Tafeltennis</option>
                    <option value="rozenKoekenSpel">Roze koeken spel</option>
                    <option value="stardewValley">Stardew Valley</option>
                </select>
                <br>
                <br>
            </form>
    </div>

    <div class="personalScoreContainer">
        <div class="personal-score">
            <p class="magic">200 BP</p>
        </div>
    </div>

    <div class="leaderboardContainer">
        <div class="leaderboard">
            
            <div class="leaderboard-box">
                <div class="leaderboard-content">
                    <div class="leaderboard-title">
                        <span class="magic">Leaderboard</span>
                    </div>
                </div>
            </div>

            <div class="leaderboard-wrapper" type="none">

                <ul class="leaderboard-list">
                  @*  @for (int i = 0; i < Account_IDs.Count; i++)
                    {
                        <li>
                            <img src="@Url.Content("/Assets/medals/"+(i+1)+".png")" />
                            <span class="magic">@Namen[i]</span>
                            <div id="wins" class="right-align">
                                <span class="magic">@GewonnenWedstrijden[i] wins</span>
                            </div>
                        </li>
                    }*@
                    
                </ul>
                
            </div>
            <div class="leaderboard-player-score-wrapper">
                <div class="leaderboard-player-score-content">
                    <ul start="@ViewData["SpelerPositie"]" class="leaderboard-player-score">
                        <li class="space">
                            <span class="magic">#@ViewData["SpelerPositie"] </span>
                            <span class="magic">@ViewData["spelerNaam"]</span>
                            <span class="magic">@ViewData["spelerOverwinningen"] wins</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="matchHistoryContainer">
        <div class="MatchHistory">

            <div class="MatchHistory-box">
                <div class="MatchHistory-content">
                    <div class="MatchHistory-title">
                        <span class="magic">Match History</span>
                    </div>
                </div>
            </div>

            <div class="MatchHistory-wrapper" type="none">

                <ul class="MatchHistory-list">
                    <span class="magicSelect">
                        Tafeltennis <br />
                    </span>
                    <li>
                        <span class="magic">
                            John
                        </span>
                        <span class="magic">

                            3 - 0
                        </span>
                        <span class="magic">
                            Smith
                        </span>
                    </li>
                    <li>
                        <span class="magic">
                            Sarah
                        </span>
                        <span class="magic">

                            1 - 2
                        </span>
                        <span class="magic">
                            Thompson
                        </span>
                    </li>
                    <li>
                        <span class="magic">
                            Michael
                        </span>
                        <span class="magic">

                            2 - 1
                        </span>
                        <span class="magic">
                            Lee
                        </span>
                    </li>
                    <li>
                        <span class="magic">
                            Jessica
                        </span>
                        <span class="magic">

                            3 - 0
                        </span>
                        <span class="magic">
                            Chen
                        </span>
                    </li>
                    <li>
                        <span class="magic">
                            David
                        </span>
                        <span class="magic">

                            2 - 1
                        </span>
                        <span class="magic">
                            Kim
                        </span>
                    </li>
                    <li>
                        <span class="magic">
                            Emily
                        </span>
                        <span class="magic">

                            3 - 0
                        </span>
                        <span class="magic">
                            Nguyen
                        </span>
                    </li>
                    <li>
                        <span class="magic">
                            Alex
                        </span>
                        <span class="magic">

                            2 - 1
                        </span>
                        <span class="magic">
                            Johnson
                        </span>
                    </li>
                    <li>
                        <span class="magic">
                            Samantha
                        </span>
                        <span class="magic">

                            3 - 0
                        </span>
                        <span class="magic">
                            Brown
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="tournamentContainer">
        <div class="tournamentNewsWrapper">
            <div class="tournamentTitle">
                <span class="magic">
                    Tournament - News
                </span> 
                <div class="tournamentAnnouncement">
                    <ul class="MatchHistory-list">
                        <li>
                            <span class="magic">
                                11/04/2023
                            </span>

                            <span class="magic">
                                🏓Tafeltennis Tournament
                            </span>
                        </li>
                        <li>
                            <span class="magic">
                                12/04/2023
                            </span>

                            <span class="magic">
                                🏃‍♂️20m Sprint Tournament
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>



@section scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log("Dom loaded");
            $.ajax({
                url: '/Main/GetLeaderboard',
                type: 'GET',
                success: function (result) {
                    console.log("succeeded fetching results");

                    $('.leaderboard-list').html(result);
                },
                error: function (err) {
                    alert("Failed getting leaderboard");
                }
            });
        }, false);

    function loadLeaderBoard(){
          
    }

    </script>
}
