@{
    ViewData["Title"] = "Main Page";
    List<int> Account_IDs = (List<int>)(object)ViewData["Account_IDs"];
    List<int> GewonnenWedstrijden = (List<int>)(object)ViewData["GewonnenWedstrijden"];
    List<string> Namen = (List<string>)(object)ViewData["Namen"];
}

<h2>Main page</h2>

<form action="/spel">
    <select name="spel" id="spel">
        <option value="voetbal">Voebal</option>
        <option value="tafeltennis">Tafeltennis</option>
        <option value="rozenKoekenSpel">Roze koeken spel</option>
        <option value="stardewValley">Stardew Valley</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Kies">
</form>

<figure>
    <figcaption>Leadboards</figcaption>

    <ul type="none">
       <li>Tot 21</li> 
       <ol>
           @for(int i = 0; i < 3; i++){
            <li>@Namen[i] @GewonnenWedstrijden[i] wins</li>
           }
        </ol>
        <ol start="@ViewData["SpelerPositie"]">
            <li><b>@ViewData["SpelerNaam"] @ViewData["SpelerOverwinningen"] wins</b></li>
        </ol>
    </ul>
</figure>

<p>Score: 200</p>

<figure>
    <figcaption>Match History</figcaption>
    <ul type="none">
        <li>Speler - Tegenstander <br> eindscore (spel) <br> date-time </li>
        <li><br>Heijn - Piet <br> 2-0 (Voetbal) <br> gastren </li>
    </ul>
</figure>

<h3>*tournamenten en nieuws</h3>
<h4>ping pong tournooi (morgen)</h4>
<h4>(niews) </h4>
<h4></h4>