@{
    ViewData["Title"] = "Main Page";
    List<int> Account_IDs = (List<int>)(object)ViewData["Account_IDs"];
    List<int> GewonnenWedstrijden = (List<int>)(object)ViewData["GewonnenWedstrijden"];
    List<string> Namen = (List<string>)(object)ViewData["Namen"];
}

<h2>Main page</h2>

<div class="flex-container">



<form class="flex-item spel-select" action="/spel">
    <select name="spel" id="spel">
        <option value="voetbal">Voebal</option>
        <option value="tafeltennis">Tafeltennis</option>
        <option value="rozenKoekenSpel">Roze koeken spel</option>
        <option value="stardewValley">Stardew Valley</option>
    </select>
    <br>
    <br>
   
</form>
<div class="flex-item personal-score"><p>Score: 200</p></div>

<div class="flex-item leaderboard">
    

    <ul class="leaderboard-wrapper" type="none">
       <li>Tot 21</li> 
       <ul class="leaderboard-list">     
           @for (int i = 0; i < 3; i++)
                {
                    <li> <img src = "@Url.Content("/Assets/medals/"+(i+1)+".png")" /> @Namen[i]  @GewonnenWedstrijden[i] wins</li>
                }
            
        </ul>
            <ul start="@ViewData["spelerPlek"]" class="leaderboard-list">
            <li> <img src="@Url.Content("/Assets/medals/"+@ViewData["spelerPlek"]+".png")" /> @ViewData["spelerNaam"] @ViewData["spelerOverwinningen"] wins</li>
        </ul>
    </ul>
</div>

</div>

<figure>
    <figcaption>Match History</figcaption>
    <ul type="none">
        <li>Speler - Tegenstander <br> eindscore (spel) <br> date-time </li>
        <li><br>Heijn - Piet <br> 2-0 (Voetbal) <br> gastren </li>
    </ul>
</figure>

<h3>*tournamenten en nieuws</h3>
<h4>ping pong tournooi (morgen)</h4>
<h4>(niews) </h4>
<h4></h4>