@{
    ViewData["Title"] = "Profile";
}

<head>
    <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
</head>





<div class="container">
    @Html.Partial("Navbar")

    <div class="profile-wrapper">
        <div class="profile-icon">
            @if (@Model.account.account_ID == 1)
            {
                <img src="https://cdn.discordapp.com/attachments/1072088170927243298/1114573456336486510/rn_image_picker_lib_temp_50cc79d2-3ad0-431b-86b0-5a673e5c8e65.jpg" alt="Profile Icon">
            }
            else
            {
                <img src="https://cdn.discordapp.com/attachments/1072088170927243298/1115634017182699540/vecteezy_profile-icon-design-vector_5544718.jpg" alt="Profile Icon">
            }
        </div>
        <h1 class="AccountName">@Model.account.full_name</h1>
    </div>






    <div class="matchHistoryContainer">
        <div class="MatchHistory">

            <div class="MatchHistory-box">
                <div class="MatchHistory-content">
                    <div class="MatchHistory-title">
                        <span class="magic">Match History</span>
                    </div>
                </div>
            </div>

            <div class="MatchHistory-wrapper" type="none">

                <ul class="MatchHistory-list">
                    <span class="magicSelect">
                        Tafeltennis <br />
                    </span>
                    @foreach (var match in @Model.MatchHistory)
                    {
                        if (match.Game_ID == 1)
                        {

                            <li class="MatchHistory-item">
                                <span class="magic">
                                    @match.Player1
                                </span>
                                <span class="magic">

                                    @match.Player1_Points - @match.Player2_Points
                                </span>
                                <span class="magic">
                                    @match.Player2

                                </span>
                            </li>
                        }
                    }
                </ul>

            </div>
        </div>
    </div>
</div>
