@{
    ViewData["Title"] = "Profile";
}

<head>
    <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
</head>





<div class="container">
    @Html.Partial("Navbar")

    <h1>@Model.account.full_name</h1>


    <div class="matchHistoryContainer">
        <div class="MatchHistory">

            <div class="MatchHistory-box">
                <div class="MatchHistory-content">
                    <div class="MatchHistory-title">
                        <span class="magic">Match History</span>
                    </div>
                </div>
            </div>

            <div class="MatchHistory-wrapper" type="none">

                <ul class="MatchHistory-list">
                    <span class="magicSelect">
                        Tafeltennis <br />
                    </span>
                    @foreach (var match in @Model.MatchHistory)
                    {
                        if (match.Game_ID == 1)
                        {

                            <li class="MatchHistory-item">
                                <span class="magic">
                                    @match.Player1
                                </span>
                                <span class="magic">

                                    @match.Player1_Points - @match.Player2_Points
                                </span>
                                <span class="magic">
                                    @match.Player2

                                </span>
                            </li>
                        }
                    }
                </ul>

            </div>
        </div>
    </div>
</div>
