@{
    ViewData["Title"] = "Profile";
}

<head>
    <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
</head>




<div class="container">
    @Html.Partial("Navbar")

    <div class="profile-wrapper">
        <div class="profile-icon">
            <img src="@Model.account.image_url" alt="Profile Icon">
        </div>
        <h1 class="AccountName">@Model.account.full_name</h1>
    </div>    


    <div class="matchHistoryContainer">
        <select name="game-select" id="game-select" onchange="gameSelect()">
            <option value="0">Kies Spel</option>
            <option value="0">Alle Spellen</option>

            @foreach (var game in Model.GameList)
            {
                <option value="@game.ID">@game.name</option>
            }
        </select>
        <div class="MatchHistory">

            <div class="MatchHistory-box">
                <div class="MatchHistory-content">
                    <div class="MatchHistory-title">
                        <span class="magic">Match History</span>
                    </div>
                </div>
            </div>

            <div class="MatchHistory-wrapper" type="none">

                <ul class="MatchHistory-list">
                    <span class="magicSelect">
                        @Model.ChosenGame.name <br />
                    </span>
                    @foreach (var match in @Model.MatchHistory)
                    {
                        <li class="MatchHistory-item">
                            <span class="magic">
                                @match.Player1
                            </span>
                            <span class="magic">

                                @match.Player1_Points - @match.Player2_Points
                            </span>
                            <span class="magic">
                                @match.Player2

                            </span>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
</div>

<script>
    function gameSelect(){
        location.href = '/Main/Profile?ID=' + @Model.account.account_ID + '&game_ID=' + document.getElementById("game-select").value;
    }
</script>