@{
    ViewData["Title"] = "Profile";
    int totalGames = Model.MatchHistory.Count;
}

<head>
    <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
</head>

<div class="container">
    @Html.Partial("Navbar")

    <div class="profile-wrapper">
        <div class="profile-icon">
            <img src="@Model.account.image_url" alt="Profile Icon">
        </div>
        <h1 class="AccountName">@Model.account.full_name</h1>

        <div class="statistics">
            @if (Model.ChosenGame.name == "Alle Spellen")
            {
                <h2 style="text-shadow: 1px 1px 1px #000;">
                    Total keer een spel gespeeld: @totalGames
                </h2>
            }
            else
            {
                <h2 style="text-shadow: 1px 1px 1px #000;">
                    Total keer @Model.ChosenGame.name.ToLower() gespeeld: @totalGames
                </h2>
            }
        </div>
    </div>    

    <div class="matchHistoryContainer">
        
        <div class="MatchHistory">

            <div class="MatchHistory-box">
                <div class="MatchHistory-content">
                    <div class="MatchHistory-title">
                        <span class="magic">Match History</span>
                    </div>
                </div>
            </div>

            <div class="MatchHistory-wrapper" type="none">

                <ul class="MatchHistory-list">
                    <span class="magicSelect">
                        @Model.ChosenGame.name <br />
                    </span>
                    
                        <select name="game-select" id="game-select" onchange="gameSelect()">
                            <option value="0">Kies Spel</option>
                            <option value="0">Alle Spellen</option>

                            @foreach (var game in Model.GameList)
                            {
                                <option value="@game.ID">@game.name</option>
                            }
                        </select>
                        <br />
                    <br />

                    @foreach (var match in @Model.MatchHistory)
                    {
                        <li onclick="goToMatch(@match.Match_ID)" class="MatchHistory-item">
                            <span class="magic">
                                @match.Player1
                            </span>
                            <span class="magic">
                                @match.Player1_Points - @match.Player2_Points
                            </span>
                            <span class="magic">
                                @match.Player2
                            </span>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>

</div>

<script>
    function gameSelect(){
        location.href = '/Main/Profile?ID=' + @Model.account.account_ID + '&game_ID=' + document.getElementById("game-select").value;
    }
    function goToMatch(match_ID){
        location.href = '/Main/Wedstrijd?ID=' + match_ID;
    }
</script>