@{
    ViewData["Title"] = "Match";
    int i = 0;
}

<h1>Match</h1>

<p><b>@Model.Game.name</b></p>


@foreach(var account in Model.AccountList)
{
    int points = @Model.MatchList[i].Points;

    <p>@account.username</p>
    <p id="score" name="score">Score: @points</p>
    <input type="button" value="Add Point" class="btn btn-primary" onclick="increaseScore(@i)" />
    <input type="button" value="-" class="btn btn-light" onclick="decreaseScore(@i)" />

    i++;
    <br>
    <br>
    <br>
}

<input type="button" value="Update" class="btn btn-outline-primary" onclick="updateMatchData(@Model.MatchList[0].Match_ID)"/>

@section scripts{
    <script>
        var scores = [];
        for (var j = 0; j < document.getElementsByName("score").length; j++) {
            scores.push(0);
        }

        function increaseScore(i) {
            var currentScore = parseInt(document.getElementsByName("score")[i].textContent.substring(7));
            scores[i] = currentScore + 1;
            document.getElementsByName("score")[i].textContent = "Score: " + scores[i];
        }

        function decreaseScore(i) {
            if (parseInt(document.getElementsByName("score")[i].textContent.substring(7)) != 0) {
                var currentScore = parseInt(document.getElementsByName("score")[i].textContent.substring(7));
                scores[i] = currentScore - 1;
                document.getElementsByName("score")[i].textContent = "Score: " + scores[i];
            }
        }

        function updateMatchData(matchID) {
            var pointsArray = [];
            for (var i = 0; i < document.getElementsByName("score").length; i++) {
                pointsArray.push(document.getElementsByName("score")[i].textContent.substring(7, 20));
            }

            points = pointsArray.join(',');
            //points = document.getElementsByName("score")[0].textContent.substring(7, 20);
            

            $.ajax({
                url: '/Main/updateMatchData',
                data: { Match_ID: matchID, points: points },
                type: 'GET',
                success: function (returned_data) {
                    console.log(returned_data)
                    //location.href = "wedstrijd?ID=" + returned_data
                },
                error: function (returned_data) {
                    console.log(returned_data)
                }
            });
        }
    </script>
}