@model IEnumerable<TestDatabase.Models.Account>
@{
    ViewData["Title"] = "AccountList";
}

<h1>Accounts</h1>

<style>
    .showaccounts {
        background-color: rgba(255, 255, 255, 0.90);
        border-radius: 15px;
        padding: 20px;
        marign: 10px;
    }
</style>

<div class="showaccounts">
    <input type="submit" value="Go Back" class="btn btn-primary" onclick="location.href='@Url.Action("Adminpage", "Admin")'" />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.full_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.type)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        Full name
                    </td>
                    <td>
                        Email
                    </td>

                    <td>
                        User type
                    </td>
                    <td>
                        <input type="submit" value="Edit" class="btn btn-primary" onclick="location.href='@Url.Action("Admin", "Admin",  new {id = item.ID})'" />
                        <input type="submit" value="Delete" class="btn btn-primary" onclick="location.href='@Url.Action("Gebruiker", "Admin", new {id = item.ID})'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>