@model IEnumerable<TestDatabase.Models.Account>
@{
    ViewData["Title"] = "AccountList";
}

<h1>AccountList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                    <a href="@Url.Action("Admin", "Admin",  new {id = item.ID})">Admin</a> |
                <a href="@Url.Action("Gebruiker", "Admin", new {id = item.ID})">Gebruiker</a> 
    @*            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>




@*@section scripts{
<script>
    function showMessage() {
        alert('This is a message box!');
    }
</script>
}*@