@model IEnumerable<TestDatabase.Models.Games>

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>
<style>
    .regels{
        min-width: 240px;
    }
    .tablebackground{
        background-color: rgba(255, 255, 255, 0.90);
        border-radius: 15px;
        padding: 20px;
        marign: 10px;
    }
</style>

<div class="tablebackground">
    <div>
        <input type="submit" value="Go Back" class="btn btn-primary" onclick="location.href='@Url.Action("Adminpage", "Admin")'" />
        <input type="submit" value="Create new game" class="btn btn-primary" onclick="location.href='@Url.Action("AddGame", "Admin")'" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Game name
                </th>
                <th>
                    Minimum players
                </th>
                <th class="regels">
                    Rules
                </th>
                <th>
                    Win condition
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.minimum_players)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rules)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.win_condition)
                    </td>
                    <td>
                        <div>
                        <input type="submit" value="Edit" class="btn btn-primary" onclick="location.href='@Url.Action("GameEdit", "Admin", new { ID = item.ID, name = item.name, minimum_players = item.minimum_players, rules = item.rules, win_condition = item.win_condition }, null)'" />
                        <input type="submit" value="Delete" class="btn btn-primary" onclick="location.href='@Url.Action("DeleteGame", "Admin", new { ID = item.ID})'" />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
