@model IEnumerable<TestDatabase.Models.Games>

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>
<style>
    .regels{
        min-width: 240px;
    }
</style>
<p>
    <a asp-controller="Admin" asp-action="AddGame">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumPlayers)
            </th>
            <th class="regels">
                @Html.DisplayNameFor(model => model.Regels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinCondition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinCondition)
            </td>
            <td >
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) 
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
