@model IEnumerable<TestDatabase.Models.Account>
@{
    ViewData["Title"] = "AccountList";
}

<h1>Accounts</h1>

<style>
    .showaccounts {
        background-color: rgba(255, 255, 255, 0.90);
        border-radius: 15px;
        padding: 20px;
        marign: 10px;
    }

    .knopjuh {
        display: flex;
        flex-direction: row;
    }

    .right {
        margin-left: auto;
    }
</style>

<div class="showaccounts">
    <div class="knopjuh">
        <div>
        </div>
        <div class="right">
            <input type="submit" value="Accounts" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")'" />
            <input type="submit" value="Games" class="btn btn-primary" onclick="location.href='@Url.Action("Games", "Admin")'" />
            <input type="submit" value="Templates" class="btn btn-primary" onclick="location.href='@Url.Action("Template", "Admin")'" />
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Full name
                </th>
                <th>
                    Email
                </th>

                <th>
                    User type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.full_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        <input type="submit" value="Admin" class="btn btn-primary" onclick="location.href='@Url.Action("Admin", "Admin",  new {id = item.ID})'" />
                        <input type="submit" value="Gebruiker" class="btn btn-primary" onclick="location.href='@Url.Action("Gebruiker", "Admin", new {id = item.ID})'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>