@model TestDatabase.ViewModels.LoginViewModel

<div class="form-box">
    <div class="form-value">

    <form action="@Url.Action("Login", "Home")" method="post">
        <img id="logo" src="@Url.Content("/Assets/BattleBreak_Dark.png")" />

              
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        }

            <div class="inputbox">
                <input type="email" name="email" placeholder="Email" required>
                        
            </div>
            <div class="inputbox">
                <input type="password" name="password" placeholder="Password" required>
                       
            </div>
            <div class="forget">
                <label for=""><input type="checkbox" value="true" name="remember">Remember Me</label>
                      
            </div>
            <button>Log in</button>
            <div class="register">
                   
            <p><a href="@Url.Action("ForgotPassword", "Home")">Forgot Password?</a></p>
                <p>Don't have a account <a href="@Url.Action("RegisterPage", "Home")">Register</a></p>
            </div>
        </form>
    </div>
</div>
